<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCafzU2vjtD8RkuQgxO4LB8drjmLYTaeHE</string>
	<key>GCM_SENDER_ID</key>
	<string>846047103358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.formsTutorial.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tps-forms</string>
	<key>STORAGE_BUCKET</key>
	<string>tps-forms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846047103358:ios:378fe0856f5fcd48f64b2f</string>
</dict>
</plist>